<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoTA</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css"
    />

    <link rel="stylesheet" href="../static/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
  </head>
  <body>
    <h1>AutoTA</h1>
    <form action="/upload" class="dropzone" id="imageDropzone">
      <div class="dz-message">Drag files here to upload</div>
    </form>

    <div id="uploadedImagesContainer">
      <p id="uploadedImagesLabel">
        You can drag and reorder the images for desired processing order:
      </p>
      <ul id="uploadedImages"></ul>
    </div>

    <div id="loadingSpinner"></div>

    <button id="generateButton">Generate Text</button>

    <div id="outputContainer">
      <p id="outputLabel">Image to Text</p>
      <div id="outputText"></div>

      <button id="copyButton">Copy to Clipboard</button>
    </div>

    <script src="../static/scripts.js"></script>
  </body>
</html>
